@import '@repo/tailwind-config/globals.css';

@source "../../packages/ui/src/**/*.{ts,tsx}";

@theme {
  --animate-shimmer: shimmer 2s infinite;

  @keyframes shimmer {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(100%);
    }
  }
}
